@media only screen and (max-width: 600px) {
    nav{
        display: grid;
        grid-template-rows: 70% 30%;
    }

    #img-logo{
        height: 10em;
        width: 10em;
    }

    #check{
        justify-content: right;
    }

    .bx-menu{
        text-align: right;
    }

    .container{
        display: block;
    }

    .title-area{
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        text-align: center;
        padding: 0%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #nav-items{
        margin: 0 auto;
        width: 100%;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        border: #9983d5 solid 1px;
        border-bottom: none;
        padding: 0%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #seccion1{
        margin-top: 2em;
    }

    .nav1{
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    .nav2{
        padding-left: 0%;
    }

    .lista-nav{
        width: 100%;
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
    }

    #sub-menu1{
        visibility: hidden;
    }


    .formulario-contacto{
        grid-column-start: 1 !important;
        grid-column-end: 3 !important;
    }

    .video{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #contacto-mensaje{
        padding-left: 1em;
        padding-right: 1em;
    }

    #p-problems-container{
        grid-column: 1/3;
    }

    .img-ejercicios-p{
        height: fit-content;
        width: fit-content;
        justify-content: center;
    }

    #img-resumen{
        width: 85vw;
    }

    #lista-categorias li{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
}

@media only screen and (max-width: 560px) {
    #video-cosmic-eye-container{
        max-width: 100%;
    }

    #video-cosmic-eye{
        width: 100%;
    }
}